PYTHON ASSIGNMENT

PART A

1. Create an empty list and add elements to it using different methods.

In [3]:
languages = []
print(languages)
print()

languages.append("javaScript")
languages.append("Python")
languages.append("C")
languages.append("C++")
languages.insert(1, "Java")
print(languages)
print()

langu_ages = ["MySQL" , "PHP" , "C#" , "JQuery"]
print(langu_ages)
print()

languages.extend(langu_ages)
print(languages)
print()

[]

['javaScript', 'Java', 'Python', 'C', 'C++']

['MySQL', 'PHP', 'C#', 'JQuery']

['javaScript', 'Java', 'Python', 'C', 'C++', 'MySQL', 'PHP', 'C#', 'JQuery']

2. Initialize a list with a sequence of numbers from 1 to 10.

In [8]:
numbers = []
for x in range(1, 11):
    numbers.append(x)
print(numbers)
print()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

3. Initialize a list with a sequence of even numbers from 2 to 20.

In [10]:
even_numbers = []
for y in range(2 , 21, 2):
    even_numbers.append(y)
    
print(even_numbers)
print()

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

4. Create a list containing the names of your favorite fruits.

In [11]:
fruits = ["Mango" , "Apple" , "Passion" , "Bananas" , "Avocado"]
print(fruits)
print()

['Mango', 'Apple', 'Passion', 'Bananas', 'Avocado']

5. Access and print the first element of the list.

In [12]:
print(fruits[0])
print()

Mango

6. Access and print the last element of the list.

In [14]:
print(fruits[4])
print()

Avocado

7. Access and print a slice of the list containing the first three elements.

In [16]:
print(fruits[0:3])
print()

['Mango', 'Apple', 'Passion']

8. Access and print a slice of the list containing the last three elements.

In [18]:
print(fruits[2:5])
print()

['Passion', 'Bananas', 'Avocado']

9. Add a new fruit to the list using the `append()` method.

In [20]:
fruits.append("Grapes")
print(fruits)
print()

['Mango', 'Apple', 'Passion', 'Bananas', 'Avocado', 'Grapes']

10. Add multiple fruits to the list using the `extend()` method.

In [21]:
fruits_1 = ["Carrots" , "Pineapple" , "Guavas" , "Lemons"]
fruits.extend(fruits_1)
print(fruits)
print()

['Mango', 'Apple', 'Passion', 'Bananas', 'Avocado', 'Grapes', 'Carrots', 'Pineapple', 'Guavas', 'Lemons']

11. Insert a fruit at a specific position in the list using the `insert()` method.

In [22]:
fruits.insert(3 , "Cherry")
print(fruits)
print()

['Mango', 'Apple', 'Passion', 'Cherry', 'Bananas', 'Avocado', 'Grapes', 'Carrots', 'Pineapple', 'Guavas', 'Lemons']

12. Remove a fruit from the list using the `remove()` method.

In [23]:
fruits.remove("Lemons")
print(fruits)
print()

['Mango', 'Apple', 'Passion', 'Cherry', 'Bananas', 'Avocado', 'Grapes', 'Carrots', 'Pineapple', 'Guavas']

13. Remove the last fruit from the list using the `pop()` method.

In [24]:
fruits.pop()
print(fruits)
print()

['Mango', 'Apple', 'Passion', 'Cherry', 'Bananas', 'Avocado', 'Grapes', 'Carrots', 'Pineapple']

14. Check if a specific fruit is present in the list using the `in` operator.

In [26]:
if "Cherry" in fruits:
    print("YES, Cherry in fruits.")
    
print()

if "Lemon" not in fruits:
    print("NO, Lemon not in fruits.")

YES, Cherry in fruits.

NO, Lemon not in fruits.

15. Find the index of a specific fruit in the list using the `index()` method.

In [37]:
index_of_bananas = fruits.index("Bananas")
print("Index of bananas is: ",index_of_bananas)
print()

Index of bananas is:  4

16. Sort the list of fruits in alphabetical order using the `sort()` method.

In [38]:
fruits.sort()
print(fruits)
print()

['Apple', 'Avocado', 'Bananas', 'Carrots', 'Cherry', 'Grapes', 'Mango', 'Passion', 'Pineapple']

17. Reverse the order of elements in the list using the `reverse()` method.

In [39]:
fruits.sort(reverse=True)
print(fruits)
print()

['Pineapple', 'Passion', 'Mango', 'Grapes', 'Cherry', 'Carrots', 'Bananas', 'Avocado', 'Apple']

18. Create a copy of the list using the `copy()` method.

In [40]:
fruits_copy = fruits.copy()
print(fruits_copy)
print()

['Pineapple', 'Passion', 'Mango', 'Grapes', 'Cherry', 'Carrots', 'Bananas', 'Avocado', 'Apple']

19. Count the occurrence of a specific fruit in the list using the `count()` method.

In [5]:
fruits_count = ["Mango" , "Apple" , "Passion" , "Mango" , "Bananas" , "Avocado" , "Mango"]
mango_count = fruits_count.count("Mango")
print("Mango occurs ", mango_count ," times." )

Mango occurs  3  times.

20. Clear all elements from the list using the `clear()` method.

In [12]:
fruits_count = ["Mango" , "Apple" , "Passion" , "Mango" , "Bananas" , "Avocado" , "Mango"]
print(fruits_count)

fruits_count.clear()
print(fruits_count)

['Mango', 'Apple', 'Passion', 'Mango', 'Bananas', 'Avocado', 'Mango']
[]

# Mathematics Questions(PART B)

1. Write a Python program to calculate the sum of two numbers.

In [14]:
a = 10
b = 5
print(a+b)

print(12+6)

15
18

2. Write a program to subtract two numbers and print the result.

In [15]:
c = 24
d = 8
print(c-d)

print(20-6)

16
14

3. Calculate the product of two numbers and display the output.

In [16]:
e = 8
f = 5
print(e*f)

print(4*6)

40
24

4. Compute the quotient of two numbers using Python.

In [18]:
g = 12
h = 3
i = 10
j = 4

Q = g/h
R = i/j
print(Q)
print(R)

4.0
2.5

5. Write a program to calculate the square of a given number.

# Functions.

# In Python, we define a function using the def keyword followed by the function name and the parentheses containing any parameters the function takes.

def function_name(parameters):
    #Function body
    #Perform actions
    #Return value (optional)
 
Lets break down each part:

     - def: This is the keyword used to define a function in Python.
     -function_name: This is the name of the function. Choose a descriptive name that reflects what the function does.
     -Parameters: These are the inputs that the functions accepts (optional). If the function does not take any parameters, we will need to include empty parentheses ().
     -: :This colon indicates the start of the function body.
     -Function body: This is where you write the code that the function executes. It can contain any valid python code.
     -return Statement (optional): If the function produces a result, we can use the return statementnto send the result back to the code that called the function.

In [1]:
def sum_of_numbers(a,b):
    return a+b

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("sum:" , sum_of_numbers(num1, num2))

Enter first number: 50
Enter second number: 12
sum: 62.0

In [3]:
def sub_of_numbers(a,b):
    return a-b

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("subtraction:" , sub_of_numbers(num1, num2))

Enter first number: 78.8
Enter second number: 23.5
subtraction: 55.3

In [4]:
def product_of_numbers(a,b):
    return a*b

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("product:" , product_of_numbers(num1, num2))

Enter first number: 12
Enter second number: 76
product: 912.0

In [6]:
def division_of_numbers(a,b):
    return a/b

num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("divide:" , division_of_numbers(num1, num2))

Enter first number: 48
Enter second number: 12
divide: 4.0

In [8]:
def square_number(x):
    return x * x

num = float(input("Enter a number: "))
print("square:", square_number(num))

Enter a number: 13.7
square: 187.68999999999997

In [10]:
import math

def square_root(x):
    return math.sqrt(x)

num = float(input("Enter a number: "))
print("Square root:", square_root(num))

Enter a number: 23
Square root: 4.795831523312719

In [14]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
    
num = int(input("Enter a number: "))
print("Factorial:", factorial(num))

Enter a number: 3
Factorial: 6

# Working with Dictionary.

1. Average of Values: Given a dictionary where the keys are student names and the values
are their exam scores, write a Python function to calculate the average score of all students.

In [4]:
students = {
    "John" : 86,
    "Naomi" : 72,
    "Deborah" : 80,
    "Ayub" : 68,
    "Jonah" : 74
}
no_of_students = len(students.keys())
sum_of_values = sum(students.values())
average_value = (sum_of_values/no_of_students)
print("Average value: ", average_value)

Average value:  76.0

2. Maximum Value: Write a Python function to find the student with the highest score in a
dictionary where keys are student names and values are exam scores.

In [16]:
student_with_high_score = max(students, key=students.get)
print("High score:", student_with_high_score , students[student_with_high_score])

High score: John 86

3. Sum of Values Based on Condition: Write a Python function to calculate the total score
of students who scored above a certain threshold.

In [38]:
threshold = 75
students_above_threshold = {name: score for name, score in students.items() if score > threshold}
for name, score in students_above_threshold.items():
    
    print(name, score)
print()
#Students below threshold.
students_below_threshold = {name: score for name, score in students.items() if score < threshold}
for name, score in students_below_threshold.items():
    
    print(name, score)

John 86
Deborah 80

Naomi 72
Ayub 68
Jonah 74

4. Updating Values: Given a dictionary representing the inventory of items in a store
(where keys are item names and values are quantities), write a Python function to update
the inventory based on a purchase (another dictionary where keys are item names and
values are quantities bought).

In [39]:
inventory_in_store = {
    "Suits" : 23,
    "Shirts" : 15,
    "T-Shirts" : 7,
    "Bow-Tie" : 10,
    "Socks" : 22
}

purchased_inventory = {
    "Suits" : 4,
    "Shirts" : 8,
    "T-Shirts" : 2,
    "Bow-Tie" : 7,
    "Socks" : 22
}

updated_inventory = {}

for item in inventory_in_store:
    if item in purchased_inventory:
        updated_inventory[item] = inventory_in_store[item] - purchased_inventory[item]
    else:
        updated_inventory[item] = inventory_in_store[item]
            
print(updated_inventory)

{'Suits': 19, 'Shirts': 7, 'T-Shirts': 5, 'Bow-Tie': 3, 'Socks': 0}